*{
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header{
  background-color: #313131;
  height: 10vh;
  color: white;
  display: flex;
  align-items: center;
}

/* Align the .menu contents to the right side of the header */
.menu{
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* Force-size icons when the SVG has the `closer` class */
svg.settings,
.lucide.settings {
  position: relative;
  margin-right: 1.5rem;
  width: 3rem !important;
  height: 3rem !important;
  display: inline-block;
}

.menu{
  display: flex;
  flex-direction: row;

}

#game{
  display: flex;
  flex-direction: row;
  height: 90vh;
}

main{
  background-color: #34A249;
  flex: 1;
  width: 80vw;
  display: flex;
  justify-content: space-around;
}

nav{
  background-color: #2B7B3B;
  width: 10vw;
}

#nav1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#nav2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: none;
  margin-top: none;
}

.playingCard{
  margin-top: 1rem;
  height: 18vh;
  margin-bottom: -10rem;
}

.cardStack{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#discardDeck{
  margin-bottom: 1rem;
}

.cardPile{
  height: 18vh;
}

.playingDeck{
  margin-top: 1rem;
  height: 18vh;
}

.shop{
  margin-top: -5rem;
  display: flex;
  flex-direction: column;
}

.shopCard{
  height: 18vh;
  margin-bottom: -6rem;
}

/* container keeping deck and shop stacked */
.deckGroup{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px){
  #game{
    flex-direction: column;
    height: 90vh; 
  }
  main{
    width: 100vw;
    flex: 1 1 auto;
  }
  #nav1{
    flex: 0 0 12vh;
    width: 100vw;
  }
  #nav2{
    display: none;
  }
  .playingCard{
    height: 12vh;
  }
  .cardStack{
    margin-top: -6rem;
  }

}